@import "variables";

// common style
body {
  margin: 0;
}

#app {
}

.wrap {
  margin-right: auto;
  margin-left: auto;
  padding: 0 8px;
}

.clearfix:before, .wrap:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

// -
.hidden {
  display: none;
}
:focus {
  outline: 0;
}

// form style
.el-input__inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid @primary-color;
}

.load-more {
  text-align: center;
  margin-top: 30px;

  & .el-button {
    color: @load-more;
  }
}
