@import "variables";

// common style
body {
  margin: 0;
}

#app {
}

.wrap {
  margin-right: auto;
  margin-left: auto;
  padding: 0 8px;
}

.clearfix:before, .wrap:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}
